a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
  }
 a:visited {
  color: rgb(169, 192, 255);
  background-color: transparent;
  text-decoration: none;
 }
 a:hover {
  color: rgb(0, 68, 255);
  background-color: #FFFFFF;
  text-decoration: underline;
}
