<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="global">
    <div id="cabecera"  class="estiloHeader">
      <app-menu></app-menu>
    </div>
    <div id="principal" class="estiloSection">
      Contenido de la página.
      <router-outlet></router-outlet>
    </div>
    <div id="pie" class="estiloFooter">
      <app-pie-pagina></app-pie-pagina>
    </div>
  </div>
</body>
</html>
