.estiloHeader {
  background: #1184d1;
  border-width: 5px;
  padding: 10px;
  position: fixed;
  z-index: 1; /* permite pasar elementos por abajo sin borrar */
  top: 0;
  left: 0;
  width: 100%;
 }

 .estiloSection {
  background: #061f3f0a;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.096);
  padding: 10px;
  width: 80%;
  height: 300px;
  position: relative;
  border-style: ridge;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 10px;
 }

 .estiloFooter {
  display: block;
  background: #000000;
  color: #ffffff;
  border-width: 5px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  }

